doctype html
html
	head
		title CURD
	body
		form( method="post", action="/")
			div
				lable(for='name') Name :
				input(type="text", name="name")

			div
				lable(for="branch") Banch :
				input(type="text", name="branch")

			div
				button(type="submit") submit
	
	p Name : #{name} <br> Branch : #{branch}
