doctype html
html
	head
		title hello world
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css', rel='stylesheet')
	body
		block content
		h1 layout
		br
		hr
		footer
			p Copyright&copy; 2018
