doctype thml
html
    head
        title dummy data
        script(type="text/javascript"  ,src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        
    body
        table#table_id
            tr
                th id
                th first_name
                th last_name
                th email
                th gender
                th ip_address
    h1  Showing #{offset+1}-#{offset+10} of  #{dummy/10+1}
    


        

    script.
        $(document).ready( function () {
        $.ajax({
        type: 'POST', 
        url: "/getdata", 
        dataType: 'json',
        data: #{offset},
        success: function(response){  
        $.each(response, function(index, value){
        //- console.log( value.first_name + " is " + index );
        $('#table_id').append("<tr>"
        +"<td>"+value.id+"</td>"
        +"<td>"+value.first_name+"</td>"
        +"<td>"+value.last_name+"</td>"
        +"<td>"+value.email+"</td>"
        +"<td>"+value.gender+"</td>"
        +"<td>"+value.ip_address+"</td>"
        +"</tr>");
        });
        },
        error: function(xhr) {
        alert('un success');  
        }
        });        
        } );

    
            
