doctype thml
html
    head
        title dummy data
        link(rel="stylesheet" ,type="text/css" ,href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css")
        script(type="text/javascript" ,src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(type="text/javascript" ,charset="utf8" ,src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js")
        
    body
        table#table_id
            thead
            tbody
        

    script.
        $(document).ready( function () {
        $.ajax({
        type: 'POST', 
        url: "/getdata", 
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',

        success: function(response){  
        //- console.log(response);
        $('thead').html("<tr>"
        +"<td>id</td>"
        +"<td>first_name</td>"
        +"<td>last_name</td>"
        +"<td>email</td>"
        +"<td>gender</td>"
        +"<td>ip_address</td>"
        +"</tr>");

        $.each(response, function(index, value){
        $('tbody').append("<tr>"
        +"<td>"+value.id+"</td>"
        +"<td>"+value.first_name+"</td>"
        +"<td>"+value.last_name+"</td>"
        +"<td>"+value.email+"</td>"
        +"<td>"+value.gender+"</td>"
        +"<td>"+value.ip_address+"</td>"
        +"</tr>");
        });

        $('#table_id').DataTable();
        },
        error: function(xhr) {
        alert('un success');  
        }
        });        
        });



        

    
            
